.header__lang-link {
  display: flex;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  column-gap: 18px;
}

@media screen and (max-width:522px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 28px;
  }
  }



