.footer__link {
color: #fff;
text-decoration-line: none;
transition: opacity 0.3s ease-in;
}


.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width:320px) {
  .footer__link {
    display: flex;
    justify-content: start;
    flex-direction: column;
  }
}
