.lead__title {
  margin: 0 auto;
  max-width: 720px;
  padding-top: 56px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    padding-top: 48px;
  }
}

@media screen and (max-width: 672px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
  }
}


@media screen and (max-width: 320px) {
  .lead__title {
    padding-top: 45px;
  }
}
