.cover__content {
  padding-top: 245px;
  position: relative;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .cover__content {
    padding-top: 194px;
  }
}

@media screen and (max-width: 768px) {
  .cover__content {
    padding-top: 113px;
  }
}

@media screen and (max-width: 320px) {
  .cover__content {
    padding-top: 33px;
  }
}
